/* :root {
  --primaryBg: #1e1e2f;
  --secondaryBg: #27293d;
  --lightText: #fff;
  --greyText: #9a9a9a;
  --blue: #1d8c8f;
  --anotherBlue: #3358f4;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
